
.cat{
    width: 10%;
  }
  .catContainer{
    display: flex;
    flex-direction: row-reverse;
    align-content: stretch;
    justify-content: space-between;
  }
  .digitailLogo{
  width: 7%;
  }
  .path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0{
    0%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 65.28229665071771,130.6267942583732 130.56459330143542,128.25358851674642 245,132 C 359.4354066985646,135.74641148325358 523.0239234449759,145.61244019138755 625,149 C 726.9760765550241,152.38755980861245 767.3397129186603,149.29665071770336 858,134 C 948.6602870813397,118.70334928229666 1089.6172248803828,91.20095693779903 1195,89 C 1300.3827751196172,86.79904306220097 1370.1913875598086,109.89952153110048 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    25%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 117.49282296650719,99.22009569377991 234.98564593301438,65.4401913875598 319,84 C 403.0143540669856,102.5598086124402 453.5502392344498,173.45933014354068 533,171 C 612.4497607655502,168.54066985645932 720.8133971291866,92.7224880382775 833,86 C 945.1866028708134,79.2775119617225 1061.1961722488038,141.65071770334927 1163,161 C 1264.8038277511962,180.34928229665073 1352.401913875598,156.67464114832535 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    50%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 114.07655502392345,158.0334928229665 228.1531100478469,183.06698564593302 325,170 C 421.8468899521531,156.93301435406698 501.46411483253587,105.76555023923447 575,107 C 648.5358851674641,108.23444976076553 715.9904306220094,161.87081339712918 811,165 C 906.0095693779906,168.12918660287082 1028.5741626794259,120.7511961722488 1138,107 C 1247.4258373205741,93.2488038277512 1343.712918660287,113.1244019138756 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    75%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 74.45933014354068,133.77511961722487 148.91866028708137,134.55023923444975 246,136 C 343.08133971291863,137.44976076555025 462.78468899521533,139.57416267942583 574,143 C 685.2153110047847,146.42583732057417 787.9425837320574,151.15311004784692 893,155 C 998.0574162679426,158.84688995215308 1105.4449760765551,161.8133971291866 1197,158 C 1288.5550239234449,154.1866028708134 1364.2775119617224,143.59330143540672 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    100%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 65.28229665071771,130.6267942583732 130.56459330143542,128.25358851674642 245,132 C 359.4354066985646,135.74641148325358 523.0239234449759,145.61244019138755 625,149 C 726.9760765550241,152.38755980861245 767.3397129186603,149.29665071770336 858,134 C 948.6602870813397,118.70334928229666 1089.6172248803828,91.20095693779903 1195,89 C 1300.3827751196172,86.79904306220097 1370.1913875598086,109.89952153110048 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
  }
  .path-1{
    animation:pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-1{
    0%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 88.133971291866,282.71770334928226 176.267942583732,299.4354066985646 262,289 C 347.732057416268,278.5645933014354 431.0622009569379,240.97607655502392 527,237 C 622.9377990430621,233.02392344497608 731.4832535885168,262.6602870813397 827,262 C 922.5167464114832,261.3397129186603 1005.0047846889952,230.38277511961724 1105,226 C 1204.9952153110048,221.61722488038276 1322.4976076555024,243.80861244019138 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    25%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 110.12440191387557,267.8755980861244 220.24880382775115,269.7511961722488 301,277 C 381.75119617224885,284.2488038277512 433.12918660287085,296.87081339712915 539,297 C 644.8708133971292,297.12918660287085 805.2344497607656,284.76555023923447 909,286 C 1012.7655502392344,287.23444976076553 1059.933014354067,302.066985645933 1139,301 C 1218.066985645933,299.933014354067 1329.0334928229665,282.96650717703346 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    50%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 82.56459330143542,279.48325358851673 165.12918660287085,292.9665071770335 264,289 C 362.87081339712915,285.0334928229665 478.0478468899521,263.61722488038276 575,242 C 671.9521531100479,220.3827751196172 750.6794258373205,198.5645933014354 848,217 C 945.3205741626795,235.4354066985646 1061.2344497607655,294.12440191387566 1163,309 C 1264.7655502392345,323.87559808612434 1352.3827751196172,294.93779904306217 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    75%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 101.22488038277513,288.0574162679426 202.44976076555025,310.11483253588517 286,295 C 369.55023923444975,279.88516746411483 435.42583732057415,227.59808612440187 531,225 C 626.5741626794259,222.40191387559813 751.8468899521531,269.49282296650716 860,282 C 968.1531100478469,294.50717703349284 1059.1866028708134,272.4306220095694 1153,264 C 1246.8133971291866,255.5693779904306 1343.4066985645932,260.78468899521533 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    100%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 88.133971291866,282.71770334928226 176.267942583732,299.4354066985646 262,289 C 347.732057416268,278.5645933014354 431.0622009569379,240.97607655502392 527,237 C 622.9377990430621,233.02392344497608 731.4832535885168,262.6602870813397 827,262 C 922.5167464114832,261.3397129186603 1005.0047846889952,230.38277511961724 1105,226 C 1204.9952153110048,221.61722488038276 1322.4976076555024,243.80861244019138 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
  }